# Model building requirements
numpy
pandas
joblib
scikit-learn
scipy
pytest
fastapi
pydantic
uvicorn
gunicorn
hyperopt
mlflow
xgboost==1.7.6
python-multipart
prometheus_fastapi_instrumentator
boto3
setuptools<70.0.0
redis
jinja2
evidently
streamlit
python-dotenv
